body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 10px;
    background-color: #f6c6f0;
}

/* Le header arc-en-ciel */
.header {
    padding: 30px;
    text-align: center;
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ); /*couleur arc-en-ciel */
	color: #f6c6f0;
}

.header h1 {
    font-size: 100px;
    text-transform: uppercase;
}

.header h2 {
    font-size: 50px;
    text-transform: capitalize;
}

/* La barre de navigation */
.barrenavigation {
    overflow: hidden; /* empêche le texte de dépasser et nous permet de pouvoir mettre une couleur de fond à la barre de navigation */
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	font-size: 140%;
}

.barrenavigation a {
    float: left; /* position des onglets sur la barre */
    color: #f6c6f0;
    text-align: center;
    padding: 10px 20px; /* taille des onglets */
    text-decoration: none; /* empêche les liens des onglets d'être soulignés */
}

.barrenavigation a:hover { /* style des onglets quand la souris est dessus */
    background-color: #f6c6f0;
    color: black;
}


/* Le corps de la page */
.elements_a_gauche {   
    float: left;
    width: 20%; /* taille de la zone de gauche */
}

.elements_a_droite {
    float: right;
    width: 80%; /* taille de la zone de droite */
	padding-left: 15px; /* espacement entre les deux zones */
}

.element { 
    background-image: url("fond.jpg"); /* couleur de fond de chaque element de la page */
    padding: 20px;
    margin-top: 15px; /* espacement entre chaque élément */
}

h3 {
	font-size: 130%;
}

.cadreimage{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    padding: 5px;
	width: 80%; /* Permet à l'image de s'adapter à la taille de la page */
	height: 80%;
}

table { /* bordure arc-en-ciel des tableaux */
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    width: 100%;
	padding: 5px;
    margin: auto;
 }

.intitules { /* colonne de gauche plus fine */
	width: 20%;
}

tr.gold { /* fond du tableau doré */
    text-align: justify;
    vertical-align: top;
	background-color: gold;
 }

tr.gold ul {
	list-style-type: none;
}

.partenaires a {
      text-decoration: none;
      color: black;
}

.reseauxsociaux {
     text-decoration: none;
     color: black;

}

.reseauxsociaux:hover, .partenaires a:hover {
	font-size: 110%;
    font-weight: bold;
}

.rupture {
	color: red;
	font-weight: bold;
	font-size: 150%;
	width: 70%;
}

.enstock {
	color: green;
	font-weight: bold;
	font-size: 150%;
	width: 70%;
}

.magasin {
	color:green;
	font-weight: bold;
	font-size: 140%;
}

/* Paramètres de disposition et de fond */
* {
    box-sizing: border-box; /* permet de bloquer la largeur des objets pour facilement organiser nos éléments en boites côtes à côtes (à droite et gauche par exemple) */
}

.corps:after { /* Permet de séparer le corps, qui est en colonnes, du reste de la page afin de permettre au footer de rester en un seul bloc */
    content: "";
    display: table;
    clear: both;
}

/* Le footer */
.footer {
    padding: 20px;
    text-align: center;
	font-size: 20px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    margin-top: 20px;
}
